:root {
    --col-green: #1b998b;
    --col-black: #2d3047;
    --col-yellow: #fffd82;
    --col-orange: #ff9b71;
    --col-red: #e84855;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

.title {
    text-align: center;
    font-size: 2rem;
}

h1 span {
    font-weight: lighter;
}

.nav-bg {
    background-color: var(--col-black);
}

.nav-bar {
    padding: 1rem;
    display: flex;
    /* Por defecto es row, se deja como ejemplo */
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar a {
    color: var(--col-yellow);
    text-decoration: none;
    font-weight: 700;
}

.container {
    /* margin-top: 0px; */
    /* margin-left: auto; */
    /* margin-bottom: 0px; */
    /* margin-right: auto; */
    /*Es equivalente a las líneas superiores*/
    /* margin: 0px auto 0px auto; */
    /*Es equivalente a las líneas superiores*/
    margin: 0px auto;
    width: 120rem;
}